@font-face {
    font-family: "Heebo";
    src: url("Heebo-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    --dark-red: #aa0505;
    --light-red: #b33a3a;
    --orange: #ffa500;
    --transparent-grey: #88848481;
    --light-grey: #6d6868;
    --green: #297029;
    --light-green: #409740;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(rgb(221, 221, 221), rgb(112, 109, 109), rgb(36, 36, 36)); 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 3rem 0;
    font-family: "Heebo", sans-serif;
    color: var(--white);
    margin-top: 5rem;
    text-shadow: 1px 1px 3px #383838;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    background-color: var(--black);
    border-radius: 0.5rem;
    margin: 3rem auto;
    box-shadow: 0 0 5px var(--light-grey);
}

.screen {
    text-align: end;
    width: 98%;
    word-wrap: break-word;
    height: 7vh;
    justify-self: center;
    background-color: var(--black);
    color: var(--white);
    font-family: "Heebo", sans-serif;
    font-size: clamp(2.7rem, 2vw, 5rem);
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    resize: none;
    border: none;
    overflow: hidden;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    align-self: center;
    margin: auto;
}

button {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    justify-self: center;
    margin: 0.3rem;
    color: var(--white);
    font-family: "Heebo", sans-serif;
    font-size: 1.1rem;
}


.btn-clear {
    background-color: var(--dark-red);
}

.btn-clear:hover {
    background-color: var(--white);
    color: var(--dark-red);
    border: 3px solid var(--dark-red);
}

.btn-delete {
    background-color: var(--light-red);

}

.btn-delete:hover {
    background-color: var(--white);
    color: var(--light-red);
    border: 3px solid var(--light-red);

}

.operation-btn {
    background-color: var(--orange);
}

.operation-btn:hover,
.operation-btn:focus  {
    background-color: var(--white);
    color: var(--orange);
    border: 3px solid orange;
}

.number-btn {
    background-color: var(--transparent-grey);
}

.number-btn:hover {
    background-color: var(--light-grey);
}

.btn-equal {
    background-color: var(--green);
    grid-column: 3 / 5;
    width: 90%;
    border-radius: 2rem;
}

.btn-equal:hover {
    background-color: var(--light-green);
}

/* -----------------------MEDIAS------ */

@media (max-width: 500px) {
    body {
        background-image: none;
    }

    h1 {
        display: none;
    }
    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        justify-content: flex-end;
        margin: 0;
    }
    .buttons-container {
        height: 75vh;
        margin: 0 0 0.5rem 0;
    }
    .screen {
        height: 10vh;
        font-size: 3.4rem;
        margin-bottom: 1rem;
    }
    button {
        width: 6rem;
        height: 6rem;
        font-size: 1.9rem;
    }
}

@media (max-width: 420px) {
    
    button {
        width: 4.7rem;
        height: 4.7rem;
        font-size: 1.3rem;

    }
    .screen {
        font-size: 3rem;
    }
}

@media (max-width: 350px) {
    button {
        width: 4.3rem;
        height: 4.3rem;
        font-size: 1.3rem;

    }
    .screen {
        font-size: 2.4rem;
    }
}