@font-face {
    font-family: "Heebo";
    src: url("Heebo-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 3rem 0;
    font-family: "Heebo", sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 20rem;
    background-color: black;
    
 
}

.screen {
    width: 100%;
    height: 7vh;
    justify-self: center;
    background-color: black;
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: clamp(2.5rem, 2vw, 5rem);

}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(12rem, 40vh, 30rem);
    margin: 0.5rem auto;
    align-self: center;
}

button {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    justify-self: center;
    margin: 0.3rem;
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;

}

.operation-btn {
    background-color: orange;
}

.number-btn {
    background-color: rgba(250, 250, 250, 0.507);

}

.equal-btn {
    background-color: rgb(64, 151, 64);
    grid-column: 3 / 5;
    width: 90%;
    border-radius: 2rem;
}